[Unit]
Description=Restart Kodi After Suspend
After=suspend.target network-online.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart kodi-standalone.service

[Install]
WantedBy=suspend.target
