[Unit]
Description=Kodi standalone (GBM)
After=remote-fs.target systemd-user-sessions.service network-online.target nss-lookup.target sound.target polkit.service
Wants=network-online.target polkit.service
Conflicts=getty@tty1.service

[Service]
EnvironmentFile=/usr/share/kodi-standalone/env
TTYPath=/dev/tty1
ExecStart=/usr/sbin/kodi-standalone
ExecStop=/usr/bin/killall --exact --wait kodi.bin
Restart=on-abort
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=multi-user.target
