name: push

on:
  push:
    branches:
      - main

jobs:
  base-changes:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: read

    outputs:
      recipes: ${{ steps.filter.outputs.changes }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 20

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            _kinoite:
              - recipes/_kinoite.yml
              - recipes/cleanup/kinoite.yml
              - recipes/packages/*
              - recipes/features/*
              - recipes/flatpaks/*
              - recipes/tools/*
              - files/**/*
              - modules/**/*
              - .github/workflows/push.yml
            _kinoite-nvidia:
              - recipes/_kinoite-nvidia.yml
              - recipes/cleanup/kinoite.yml
              - recipes/packages/*
              - recipes/features/*
              - recipes/flatpaks/*
              - recipes/tools/*
              - files/**/*
              - modules/**/*
              - .github/workflows/push.yml
            _bazzite-deck:
              - recipes/bazzite-deck.yml
              - recipes/cleanup/bazzite.yml
              - recipes/cleanup/bazzite-desktop-ui.yml
              - recipes/packages/*
              - recipes/features/*
              - recipes/flatpaks/*
              - recipes/tools/*
              - files/**/*
              - modules/**/*
              - .github/workflows/push.yml
            _server-zfs-nvidia:
              - recipes/_server-zfs-nvidia.yml
              - recipes/cleanup/coreos.yml
              - recipes/packages/*
              - recipes/features/*
              - recipes/flatpaks/*
              - recipes/tools/*
              - files/**/*
              - modules/**/*
              - .github/workflows/push.yml
            _server:
              - recipes/_server.yml
              - recipes/cleanup/coreos.yml
              - recipes/packages/*
              - recipes/features/*
              - recipes/flatpaks/*
              - recipes/tools/*
              - files/**/*
              - modules/**/*
              - .github/workflows/push.yml

  base-bluebuild:
    name: Build Bases

    runs-on: ubuntu-latest

    needs:
      - base-changes

    if: ${{ needs.base-changes.outputs.recipes != '[]' && needs.base-changes.outputs.recipes != '' }}

    strategy:
      fail-fast: false

      matrix:
        recipe: ${{ fromJSON(needs.base-changes.outputs.recipes) }}

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Build Custom Image
        uses: blue-build/github-action@v1.10.2
        with:
          recipe: ${{ matrix.recipe }}.yml
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
          registry_token: ${{ github.token }}
          maximize_build_space: true
          rechunk: false

  image-changes:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: read

    outputs:
      recipes: ${{ steps.filter.outputs.changes }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 20

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            bazzite-deck:
              - recipes/bazzite-deck.yml
              - .github/workflows/push.yml
            bazzite-deck-touch:
              - recipes/bazzite-deck-touch.yml
              - cleanup/bazzite-desktop-ui.yml
              - packages/plasma-mobile.yml
              - files/bazzite-mobile-autologin/**/*
              - .github/workflows/push.yml
            k8s-node-zfs-nvidia:
              - recipes/k8s-node-zfs-nvidia.yml
              - recipes/packages/kubernetes.yml
              - recipes/packages/nvidia-container-toolkit.yml
              - files/disable-selinux/**/*
              - files/kubernetes/**/*
              - .github/workflows/push.yml
            k8s-node:
              - recipes/k8s-node.yml
              - recipes/packages/kubernetes.yml
              - files/disable-selinux/**/*
              - files/kubernetes/**/*
              - .github/workflows/push.yml
            server:
              - recipes/server.yml
              - recipes/packages/sshpass.yml
              - .github/workflows/push.yml
            workstation-kinoite:
              - recipes/workstation-kinoite.yml
              - .github/workflows/push.yml
            workstation-kinoite-nvidia:
              - recipes/workstation-kinoite-nvidia.yml
              - .github/workflows/push.yml

  image-bluebuild:
    name: Build Images

    runs-on: ubuntu-latest

    needs:
      - image-changes
      - base-bluebuild

    if: ${{ needs.image-changes.outputs.recipes != '[]' && needs.image-changes.outputs.recipes != '' }}

    strategy:
      fail-fast: false

      matrix:
        recipe: ${{ fromJSON(needs.image-changes.outputs.recipes) }}

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Build Custom Image
        uses: blue-build/github-action@v1.10.2
        with:
          recipe: ${{ matrix.recipe }}.yml
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
          registry_token: ${{ github.token }}
          maximize_build_space: true
          rechunk: true
