name: weekly-update

on:
  schedule:
    - cron: "00 06 * * TUE,FRI"

  workflow_dispatch:
    inputs:
      skip_base:
        type: boolean
        description: Skip base image builds
        required: false
        default: false

jobs:
  base-bluebuild:
    name: Build Bases

    runs-on: ubuntu-latest

    if: ${{ github.event.inputs.skip_base != 'true' }}

    strategy:
      fail-fast: false

      matrix:
        include:
          - recipe: _kinoite
          - recipe: _kinoite-nvidia
          - recipe: _bazzite-deck
          - recipe: _server-zfs-nvidia
          - recipe: _server

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Build Custom Image
        uses: blue-build/github-action@v1.9.1
        with:
          recipe: ${{ matrix.recipe }}.yml
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
          registry_token: ${{ github.token }}
          maximize_build_space: true
          rechunk: false

  isos:
    name: Build ISOs from images

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    needs:
      - base-bluebuild

    steps:
      - name: Build ISO
        uses: jasonn3/build-container-installer@main
        id: build
        with:
          arch: x86_64
          enrollment_password: ${{ secrets.ENROLLMENT_PASSWORD }}
          image_name: base-server
          image_repo: ghcr.io/decentm
          image_tag: latest
          version: 43
          iso_name: base-server-latest-x86_64.iso
          variant: fedora-release-coreos-43-25.noarch # dnf provides system-release
          web_ui: false

      - name: Upload ISO as artifact
        id: upload
        uses: actions/upload-artifact@v5
        with:
          name: ${{ steps.build.outputs.iso_name }}
          path: |
            ${{ steps.build.outputs.iso_path }}
            ${{ steps.build.outputs.iso_path }}-CHECKSUM
          if-no-files-found: error
          retention-days: 7
          compression-level: 9

  image-bluebuild:
    name: Build Images

    runs-on: ubuntu-latest

    needs:
      - base-bluebuild

    strategy:
      fail-fast: false

      matrix:
        include:
          - recipe: bazzite-deck
          - recipe: bazzite-deck-touch
          - recipe: k8s-node-zfs-nvidia
          - recipe: k8s-node
          - recipe: server
          - recipe: workstation-kinoite
          - recipe: workstation-kinoite-nvidia

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Build Custom Image
        uses: blue-build/github-action@v1.9.1
        with:
          recipe: ${{ matrix.recipe }}.yml
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
          registry_token: ${{ github.token }}
          maximize_build_space: true
          rechunk: true

  image-bluebuild-skipped:
    name: Build Images

    runs-on: ubuntu-latest

    if: ${{ github.event.inputs.skip_base == 'true' }}

    strategy:
      fail-fast: false

      matrix:
        include:
          - recipe: bazzite-deck
          - recipe: bazzite-deck-touch
          - recipe: k8s-node-zfs-nvidia
          - recipe: k8s-node
          - recipe: server
          - recipe: workstation-kinoite
          - recipe: workstation-kinoite-nvidia

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Build Custom Image
        uses: blue-build/github-action@v1.9.1
        with:
          recipe: ${{ matrix.recipe }}.yml
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
          registry_token: ${{ github.token }}
          maximize_build_space: true
          rechunk: true
